<%= flash[:notice] %>
<% if @error.errors.any? %>
  <%= @error.errors.count %>errors
  <ul>
    <% @error.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container px-5 px-sm-0">

  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'users/show',locals: {user: @user} %>
      <% if @user.id == current_user.id %>
        <%= link_to "/users/#{@user.id}/edit", class: "btn btn-secondary" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>
      <%= render partial: 'new',locals: {book: @book} %>
    </div>

    <div class="col-md-8 offset-md-1">
    <div>
      <h1>Books</h1>
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>

        <% @books.each do |book| %>
          <tr>
            <th><%= link_to "/users/#{book.user.id}" do %>
              <%= image_tag book.user.get_profile_image(100,100) %>
            <% end %>
          </th>
            <th><p><%= link_to book.title, "/books/#{book.id}" %></p></th>
            <th><p><%= book.body %></p></th>
            <th>
              <% if book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(book), method: :delete do %>
                  <i class="fas fa-heart"></i><%= book.favorites.count %> いいね
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to book_favorites_path(book), method: :post do %>
                  <i class="far fa-heart"></i><%= book.favorites.count %> いいね
                  <% end %>
                </p>
            <% end %>
            </th>

            <th><p><%=  "コメント数:#{book.book_comments.count}" %></p></th>


          </tr>
        <% end %>
        <%= paginate @books %>
      </table>
      </div>
    </div>
  </div>
</div>